<h2>投票一覧</h2>
<div class="row">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="col-lg-2">タイトル</th>
								<th class="col-lg-1">投票</th>
								<th class="col-lg-9">コメント</th>
							</tr>
						</thead>
						<tbody>
							<% @votes.each do |vote| %>
							<tr>
								<td><%= Item.find(vote.item_id).title %></td>
								<td>
									<% if vote.favo == 1 %>
										<div style="color: #90daff;;">良い　◯</div>
									<% elsif vote.favo == 2 %>
										<div style="color:#9fd2af;">普通　ー</div>
									<% else %>
										<div style="color:#dc9898;">悪い　✖</div>
									<% end %>
								</td>
								<td><%= vote.comment %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>