<h2>総合ランキング</h2>
<div class="row">
		<h4 class="col-lg-1"><%= link_to "今月",items_monthranking_path %></h4>
		<h4 class="col-lg-1"><%= link_to "来月",items_nextmonthranking_path %></h4>
		<h4 class="col-lg-1"><%= link_to "先月",items_prevmonthranking_path %></h4>
</div>
<%= render "items/list",ranks:@ranks,noranks:@noranks %>