/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
/*header*/
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.navbar-brand {
  background: url("img/logo.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 100px;
}
.dropdown-menu{
	background-color: white;
	min-width: 150px;
}
@media only screen{
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}
.navbar .nav li{
text-align: center;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.headnav{
	width: 150px;
}
body{
	background-color: white;
}
footer{
	height: 80px;
	width: 100%;
	background-color:#BDBDBD ;
	margin-top: auto;
}
/*item*/
thead{
	background-color: #222944;
	color:white;
}
.item_title{
	font-size: 30px;
}
.item-show-r{
	border-left :1px solid #ddd;
	border-right :1px solid #ddd;
}
.item-show-m{
	border-top :1px solid #ddd;
}

